/* Margins */
/* 5px */
.m-5 {
    margin: 5px;
}

.mt-5 {
    margin-top: 5px;
}

.mr-5 {
    margin-right: 5px;
}

.mb-5 {
    margin-bottom: 5px;
}

.ml-5 {
    margin-left: 5px;
}

/* 8px */
.m-8 {
    margin: 8px;
}

.mt-8 {
    margin-top: 8px;
}

.mr-8 {
    margin-right: 8px;
}

.mb-8 {
    margin-bottom: 8px;
}

.ml-8 {
    margin-left: 8px;
}

/* 10px */
.m-10 {
    margin: 10px;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.ml-10 {
    margin-left: 10px;
}


/* Paddings */

/* Width */
.all-width {
    width: 100%;
}

/* Font size */
.h1 {
    font-size: 2.4rem;
}

.h2 {
    font-size: 2rem;
}

.h3 {
    font-size: 1.6rem;
}

.h4 {
    font-size: 1.4rem;
}

.h5 {
    font-size: 1.3rem;
}

.h6 {
    font-size: 1.2rem;
}

.h7 {
    font-size: 0.7rem;
}

/* Colors */
.grey-fg {
    color: #9E9E9E !important;
}